.person{
    margin-top: 10px;
    margin-left: 10px;
    border: solid;
    border-color: gray;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #800080;
}

.personinformation{
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.person img{
    width: 70px;
    height: 70px;
    border-radius: 4px;
}

.person .data{
    margin-left: 7px;
}

button{
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    font-size: 15px;
}

.personitems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-height: 700px;
    padding-right: 5px;
}

.buttonremove{
    background-color: yellow;
}

.buttonadd{
    background-color: darkgreen;
}