  .newpost {
    display: block;
    margin: 0 auto;
  }
  
  .newpost input {
    width: 99%;
    height: 100px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
  }
  
  .newpost button {
    display: block;
    width: 150px;
    height: 70px;
    position: relative;
    right: 0px;
    margin-top: 7px;
    border-radius: 4px;
    background-color: #800080;
    color:#fff;
    border: none;
    box-shadow: 0 0 5px;
    margin-left: 777px;;
  }